<p>
  search-page works!
</p>

<div class="input-group">
  <input type="text" class="form-control" placeholder="Search for..." aria-label="Search for...">
  <span class="input-group-btn">
        <button class="btn btn-secondary" type="button">Go!</button>
      </span>
</div>

<div class="row my-4">
  <div class="col">
    <button class="btn btn-primary btn-block">Zaawansowane</button>
  </div>
</div>
<div class="row">
  <div class="col">
  <button class="btn btn-primary btn-block">Rozpocznij Test</button>
  </div>
</div>